<div class="row">
  <div class="col-md-3">
    <div id="userHeader"><div class="user one"></div>{{ user.name }}</div>
    <mat-list>
      <mat-divider *ngFor="let group of user.groups">
        <mat-list-item (click)="selectGroup(group.id)" select>
            {{ group.name }}
        </mat-list-item>
      </mat-divider><mat-divider></mat-divider>
    </mat-list>
    <br>
    <button mat-mini-fab (click)="groupFormVisible = !groupFormVisible">+</button>
    <form (ngSubmit)="addGroup()" novalidate *ngIf="groupFormVisible">
      <mat-form-field>
        <input matInput placeholder="Group" [(ngModel)]="newGroup.name" name="name" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Add Group</button>
      <mat-hint align="end">{{status}}</mat-hint>
    </form>
  </div>

  <div class="col-md-9">
    <nav *ngIf="groupInfo" class="navbar">
      <div class="container-fluid">
        <span *ngIf="groupInfo" class="navbar-brand">Group {{groupInfo.name}} with id {{ groupInfo.id }}</span>
      </div>
    </nav>
    <ul *ngIf="groupInfo">
      <li *ngFor="let member of this.groupInfo.member">
          Member {{ member.name }} with id {{ member.id}}
      </li>
    </ul>
  </div>
</div>
