<div class="row">
  <div class="col-md-3">
    <div id="userHeader">{{ user.name }}</div>
    <mat-list>
      <mat-divider *ngFor="let group of user.groups">
        <mat-list-item (click)="selectGroup(group.id)" select>
            {{ group.name }}
        </mat-list-item>
      </mat-divider><mat-divider></mat-divider>
    </mat-list>
    <br>
    <button mat-mini-fab (click)="groupFormVisible = !groupFormVisible">+</button>
    <form (ngSubmit)="addGroup()" novalidate *ngIf="groupFormVisible">
      <mat-form-field>
        <input matInput placeholder="Group" [(ngModel)]="newGroup.name" name="name" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Add Group</button>
      <mat-hint align="end">{{status}}</mat-hint>
    </form>
  </div>

  <div class="col-md-8">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <span *ngIf="groupInfo" class="navbar-brand">{{groupInfo.name}} | {{ groupInfo.id }}</span>
      </div>
    </nav>
    <ul *ngIf="groupInfo">
      <li *ngFor="let member of this.groupInfo.member">
          {{ member.name }} | {{ member.id}}
      </li>
    </ul>
  </div>

  <div class="col-md-1">
    <ul>
      <li *ngFor="let group of this.groups">
        <button (click)="joinGroup(group.id)" mat-raised-button color="primary">
          {{ group.name }}
        </button>
      </li>
    </ul>
</div>
</div>
