<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <div id="userHeader" class="mat-elevation-z5">{{ user.name }}</div>
    <mat-list>
      <mat-divider *ngFor="let group of user.groups">
        <mat-list-item (click)="selectGroup(group.id)" select>
            {{ group.name }}
        </mat-list-item>
      </mat-divider><mat-divider></mat-divider>
    </mat-list>
    <br>
    <button mat-mini-fab (click)="groupFormVisible = !groupFormVisible">+</button>
    <form (ngSubmit)="addGroup()" novalidate *ngIf="groupFormVisible">
      <mat-form-field>
        <input matInput placeholder="Group" [(ngModel)]="newGroup.name" name="name" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Add Group</button>
      <mat-hint align="end">{{status}}</mat-hint>
    </form>
  </mat-drawer>

  <div class="example-sidenav-content">
      <h2 *ngIf="groupInfo">{{ groupInfo.name }}  | {{ groupInfo.id }}  | {{ groupInfo.member }}</h2>
      <ul>
        <li *ngFor="let group of this.groups">
          <button (click)="joinGroup(group.id)" mat-raised-button color="primary">
            {{ group.name }}
          </button>
        </li>
      </ul>


  </div>

</mat-drawer-container>
